[Desktop Entry]
Version=1.0
Type=Application
Name=VIN Tracker
Comment=Sistema de gestión de VINs con PostgreSQL
Exec=/mnt/SHARED/Shared_Folder/Programación/Proyectos mios/vin-tracker/vin-tracker v2/start.sh
Icon=/mnt/SHARED/Shared_Folder/Programación/Proyectos mios/vin-tracker/vin-tracker v2/frontend/src/img/reze-logo.jpg
Terminal=true
Categories=Development;Database;Utility;
StartupNotify=true
